#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  justify-content: center;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 400px;
}

button{
  margin: auto;
  padding: 5px 10px;
  font-size: 16px;
}